<footer>
  <div class="footer">
    <div class="footer-company">
      <div class="fc-title">Neros</div>
      <div>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure consequatur eos placeat eaque asperiores odio corporis reprehenderit repellat doloremque vero porro veritatis ipsum nisi iusto, libero omnis perspiciatis, harum tenetur.
      </div>
    </div>
    <div class="footer-items">
      <div>
        <h1>
          Company
        </h1>
        <p>Term of service</p>
        <p>Privacy Policy</p>
      </div>
      <div>
        <h1>
          Products
        </h1>
        <p>Virtual Private Server</p>
      </div>
      <div>
        <h1>Support</h1>
        <p>FAQ</p>
        <p>Contact</p>
        <p>Discord</p>
      </div>
    </div>
  </div>
  <div class="footer-copy">
    Copyright ©2021 - {{now}} All rights reserved
  </div>
</footer>
