<section class="welcome-hero">
  <div class="wh-content-pres">
    <h1 class="wh-title">Nero host</h1>
    <p>Powerfull web hosting <br /> Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus molestias cum minus perspiciatis hic! Eos beatae vel explicabo molestias consequuntur, eaque quisquam, ab ad in quidem vitae voluptas consectetur libero!</p>
  </div>
  <div class="wh-content-img">
    <img src="./../../../../assets/server-bg.png" alt="server welcome" class="wh-img">
  </div>
</section>
