<section class="features-content">
  <div class="fc-content-title">
    <h1 class="fc-title">complete features</h1>
  </div>
  <div class="fc-content-items">

    <div class="fc-item">
      <div class="fc-item-content-logo">
        <img src="https://storage.googleapis.com/temp_static/images/services1.svg" width="55" height="55" alt="service Virtual Private Server" />
      </div>
      <div class="fc-item-content-text">
        <h1>Virtual Private Server</h1>
        <p>Our servers are reliable and inexpensive, for good performance and guaranteed comfort.</p>
      </div>
    </div>
    <div class="fc-item">
      <div class="fc-item-content-logo">
        <img src="https://storage.googleapis.com/temp_static/images/services2.svg" width="55" height="55" alt="service Deployment Integration" />
      </div>
      <div class="fc-item-content-text">
        <h1>Deployment Integration [SOON]</h1>
        <p>Deploy your services easily, thanks to the git and docker integration.</p>
      </div>
    </div>
    <div class="fc-item">
      <div class="fc-item-content-logo">
        <img src="https://storage.googleapis.com/temp_static/images/services3.svg" width="55" height="55" alt="service Automatic Services" />
      </div>
      <div class="fc-item-content-text">
        <h1>Automatic Services [SOON]</h1>
        <p>The entire cloud works autonomously and automatically, for a better user experience and simplicity.</p>
      </div>
    </div>

    <div class="fc-item">
      <div class="fc-item-content-logo">
        <img src="https://storage.googleapis.com/temp_static/images/services4.svg" width="55" height="55" alt="service Permissions Management" />
      </div>
      <div class="fc-item-content-text">
        <h1>Permissions Management [SOON]</h1>
        <p>Create and manage a team with an advanced permissions system.</p>
      </div>
    </div>
    <div class="fc-item">
      <div class="fc-item-content-logo">
        <img src="https://storage.googleapis.com/temp_static/images/services5.svg" width="55" height="55" alt="service Game Server Support" />
      </div>
      <div class="fc-item-content-text">
        <h1>Game Server Support [SOON]</h1>
        <p>Create servers of your favorite games to play with your friends.</p>
      </div>
    </div>
    <div class="fc-item">
      <div class="fc-item-content-logo">
        <img src="https://storage.googleapis.com/temp_static/images/services6.svg" width="55" height="55" alt="service Database Services" />
      </div>
      <div class="fc-item-content-text">
        <h1>Database Services [SOON]</h1>
        <p>Get database storages on SQL, NoSQL and in-memory</p>
      </div>
    </div>
  </div>
</section>
