/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Noto Sans';
  src: url(https://storage.googleapis.com/temp_static/fonts/NotoSans-Regular.ttf) format(ttf),
}
@import './app/style/variables.scss';

html {
  font-family: 'Noto Sans', sans-serif;
  width: 100%;
  height: 100%;
  display: inline-table;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to left top, $main-primary, $main-bg);
  color: $main-color
}

a {
  color: $main-color;
  text-decoration: none;
}
